.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 10px;
}

.card{
    max-width: 400px;
    max-height: 400px;
}

.heading{
    margin-top: 20px;
    padding: 20px;
}
.buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-1{
    padding: 15px;
    background-color: dodgerblue;
    color: white;
    border: none;
}

.btn-2{
    padding: 15px;
    background-color: teal;
    color: white;
    border: none;
}