.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 500px;
}
.send-otp{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.send-otp input{
    padding: 20px;
}
.send-otp button{
padding: 20px;
background-color: teal;
color: white;
border: none;
}

.verify-otp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.verify-otp input{
    padding: 20px;
}
.verify-otp button{
padding: 20px;
background-color: teal;
color: white;
border: none;
}