.categories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    overflow: hidden;
}



.card {
  padding: 10px;
  max-width: 180px;
  max-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border: 1px solid black;
}

.heading{
    margin-top: 10px;
}