.product {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pImage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex: 1;
  object-fit: cover;
  height: 500px;
  width: 400px;
}

.rightPart {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.txt1{
    font-size: 25px;
    font-weight: 500;
}
.btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin-top: 50px;
}

.btun{
    border: none;
    background-color: teal;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
}
.btun1{
    border: none;
    background-color: blueviolet;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    margin-bottom: 50px;
}

.like1{
    font-size: 25px;
    color: teal;
    font-weight: 500;
    margin-bottom: 100px;
    cursor: pointer;
}

.inputComment{
    width: 90%;
    padding: 22px;
    margin-bottom: 10px;
    outline: none;

}
.btnsub{
    border: none;
    background-color: teal;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
}